{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>New Arrivals</h1>
    <div class="row">
        {% for product in new_products %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="Product Image">
                    {% else %}
                        <!-- Placeholder image or alternative content for products without images -->
                        <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="Placeholder Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <a href="{% url 'cart:add_to_cart' product.id %}" class="btn btn-primary">Add to cart</a>
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
